// 全般
$general-border-width   : 1px;
$general-border-radius  : 4px;
$general-shadow-geometry: 0px 2px 2px 0px;

// ウィンドウ
$window-border-radius: 8px;

// ツールバー
$toolbar-padding        : 4px;
$toolbar-button-margin  : 4px;
$toolbar-button-min-size: 24px;

// ボタン
$button-padding: 4px;
